body {
  margin: 0;
  overflow: hidden;
}

#navbar {
  display: flex;
}

#table {
  padding-top: 5vmin;
}

.flight {
  margin-left: auto;
  margin-right: 7vmin;
  margin-top: 4vmin;
}

.flight > strong {
  color: black;
  font-size: 2.5vmin;
  font-family: sans-serif;
}

.flight > p {
  color: black;
  font-size: 2vmin;
  font-family: sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1.25fr 1.25fr 1.5fr;
  padding: 1.5vmin 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  transition: 0.5s opacity;
}

.logo {
  padding: 3vmin;
}

.logo > img {
  width: 15vmin;
}

.type {
  padding-left: 8vmin;
}
.seats {
  display: flex;
  margin: auto;
}

.r0 > h1 {
  font-family: sans-serif;
}
.amenity,
.original,
.requested {
  color: black;
  font-size: 2.5vmin;
  font-family: sans-serif;
}

.amenity-sub {
  color: #304ffe;
  font-size: 2.5vmin;
  font-family: sans-serif;
}

.requested-sub {
  color: #ca0000;
  font-size: 2.5vmin;
  font-family: sans-serif;
}

.original-sub {
  color: #0091ea;
  font-size: 2.5vmin;
  font-family: sans-serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.approve,
.decline {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 1.5vmin;
  width: 15vmin;
  font-size: 16px;
}

.approve {
  background-color: #00c853;
}

.approve:hover {
  background-color: #00c853;
  opacity: 0.75;
}

.decline {
  background-color: #d50000;
}

.decline:hover {
  background-color: #d50000;
  opacity: 0.75;
}
